<div id="id_header">
  <div id="id_nav">
    <input type="text" placeholder="Enter Keyword" name="keyword">
  </div>
</div>
<div id="id_aside">
  <div id="id_category">
    <h3>Category</h3>
  </div>
</div>
<div id="id_content"></div>
