// Place all the styles related to the Book_search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*book search*/

.container {
  display: flex;
  font-family: sans-serif;
  align-items: center;
}

/*Category*/
#id_categories {
  flex-grow: 1;
  color: #8d8484;
  text-align: center;
}

#id_categories h3 {
  font-size: 30px;
  margin-bottom: 12px;
}

#id_list_categories {
  text-transform: uppercase;
  text-align: left;
  /* display: flex; */
  /* align-items: center; */
  position: absolute;
  /* top: 82px; */
  left: 14%;
}

#id_list_categories a {
  font-size: 15px;
  text-decoration: none;
  line-height: 1.4;
  color: black;
}
/*Search*/
#id_search_bar {
  flex-grow: 2;
  box-sizing: border-box;
}
#id_search {
  border-radius: 10px;
  line-height: 1.5;
  width: 50%;
  border: 1px solid;
}

#id_search_content {
}
