// Place all the styles related to the Book_search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*Header*/
#id_header {
  width: 100%;
  background-color: #3edbf0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  box-sizing: border-box;
}
#id_nav {
  padding: 13px 48px;
}

#id_nav .search {
  position: relative;
  display: inline-block;
  float: right;
}

#id_nav input {
  border-radius: 10px;
  line-height: 18px;
  border: 1px solid #333;
  padding-left: 4px;
}
#id_products_list {
  position: absolute;
  background-color: #fff;
  display: inline-block;
  top: 20px;
  left: 0;
}
#id_body {
  display: flex;
}
/*Aside*/
#id_aside {
  margin-top: 46px;
  color: #fff;
  background-color: #04009a;
  display: inline-block;
  padding: 0px 42px;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #fff;
  box-sizing: border-box;
}
/*Content*/
#id_content {
  float: right;
}
